.row
  .col.left
    = simple_form_for @request, url: api_requests_path, remote: true do |f|
      .form-group
        = f.input :content, as: :text, label: false, required: false
      .form-group
        = f.submit 'Сохранить', class: 'btn btn-primary'
  .col.right
    %h4= "0 запросов"
    #info.request-info