/*
 *= require font-awesome
 *= require bootstrap-datepicker
 *= require_tree .
 *= require_self
 */

.angular-container {
    margin-top:65px;
}

.form-control-clear {
    cursor: pointer;
    position: absolute;
    top: -2px;
    right: 27px;
    z-index: 2;
    width: 34px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    color: #ccc;
}

.form-control-clear.empty {
    display:none;
}

.form-control-clear.clear {
    display:block;
}

.form-control-clear:hover {
    color: #000;
}

.search-box {
    position: relative;
    width: 250px;
    height: 32px;
}

.sort_link {
    cursor: pointer;
    color: #0088cc;
}

.sort_link.asc:after {
    font-family: 'FontAwesome';
    content: "\f0de";
    position: relative;
    top: 4px;
    left: 8px;
}

.sort_link.desc:after {
    font-family: 'FontAwesome';
    content: "\f0dd";
    position: relative;
    top: -1px;
    left: 8px;
}

.alert.alert-error span {
    display: block;
}

.error {
    display: none;
}

.pagination span {
    position: relative;
    top: -11px;
    left: 12px;
}